/* ==|== primary styles =====================================================
   Author: Ugo
   ========================================================================== */

#main {
	font-size: 0.8em;
}

#head_nav_menu li {
	float: left;
	font-size: 0.8em;
}

#logo {
	height: 100%;
	padding: 0 auto;
	display: inline-block;
	vertical-align: middle;
}

#mask {
	height:100%;
	padding: 0 2px 0 2px;
}

h2.section_header {
	font-size: 4.5em;
	text-align: right;
}

.section {
	margin-bottom: 40px;
}

#contact_network {
	column-count: 2;
	-moz-column-count: 2;
	-ms-column-count: 2;
	-o-column-count: 2;
	-webkit-column-count: 2;
	column-gap: 2em;
	-moz-column-gap: 2em;
	-ms-column-gap: 2em;
	-o-column-gap: 2em;
	-webkit-column-gap: 2em;
	width: 100%;
	margin-left:auto;
	margin-right:auto;
	padding-bottom: 50px;
}
	#contact_network ul {
		padding-bottom: 50px;
	}

		#contact_network ul li a {
			padding: 0px;
			margin-bottom: 0px;
		}

	#contact_network .contact_link_img {
		margin-bottom: 0px;
	}

	#contact_network .contact_link_text {
		padding: 5px 10px 4px 10px;
		text-shadow: none;
		font-size: 0.6em;
		letter-spacing: 0;
		box-shadow: rgba(0, 0, 0, 0.1) 0 2px 5px;
		-moz-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 5px;
		-ms-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 5px;
		-o-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 5px;
		-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 5px;
		margin-top: 0px;
	}

	#contact_network .linkedin .contact_link_text {
		/*color: #65b7d2;*/
		background: rgba(101,183,210,0.4);
	}

	#contact_network .google .contact_link_text {
		/*color: #c83e2e;*/
		background: rgba(200,62,46,0.4);
	}

	#contact_network .twitter .contact_link_text {
		/*color: #45b0e3;*/
		background: rgba(69,176,227,0.4);
	}

	#contact_network .github .contact_link_text {
		/*color: #4183c4;*/
		background: rgba(65, 131, 196, 0.4);
	}

	#contact_network .stackoverflow .contact_link_text {
		/*color: #ff750f;*/
		background: rgba(255,117,15,0.4);
	}

	#contact_network .lastfm .contact_link_text {
		/*color: #f40909;*/
		background: rgba(244,9,9,0.4);
	}

	#contact_network .facebook .contact_link_text {
		/*color: #39599f;*/
		background: rgba(57,89,159,0.4);
	}

	#contact_network .email .contact_link_text {
		/*color: #b1e400;*/
		background: rgba(177,228,0,0.4);
	}

	#contact_network .phone .contact_link_text {
		/*color: #b1e400;*/
		background: rgba(159,11,83,0.4);
	}

#qr_code {
	display: none;
}

#foot {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	font-size: 0.55em;
}

/* =============================================================================
   Base
   ========================================================================== */

body {
	line-height: 1.231;
}

html, button, input, select, textarea {
	font-size: 1.5em;
}

/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */

table button, table input { *overflow: auto; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"], [role="button"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/*
 * Media queries for responsive design github.com/h5bp/mobile-boilerplate/wiki/The-Style
 */


/* iPhone 4, Opera Mobile 11 and other high pixel ratio devices ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}


/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* prevent callout */
.nocallout {-webkit-touch-callout: none;}

/* A hack for HTML5 contenteditable attribute on mobile */
textarea[contenteditable] {-webkit-appearance: none;}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if they have been set as display: none */
.gifhidden {position: absolute; left: -100%;}
